<!-- <div class="border">
    <h2 *ngIf="content && content.title else elseBlockNameIsWhateverYouWant" appHoverAffect>
        {{ content.title }}
    </h2>
    <img *ngIf="content && content.imgURL else elseBlock" [src]="content.imgURL" (click)="pritnItem()">
    <p class="body" *ngIf="content && content.description; else elseBlockNameIsWhateverYouWant">{{content.description}}</p>

    <div class="type"  *ngIf="content && content.type else elseBlockNameIsWhateverYouWant" appHoverAffect [highlightColor]="'underline black 5px'">{{content.type}}</div>
    <div class="author"  *ngIf="content && content.creator else elseBlockNameIsWhateverYouWant">{{content.creator}}</div>
    <div class="tags"  *ngIf="content && content.tags else elseBlockNameIsWhateverYouWant" appHoverAffect [highlighttext]="'bold'">{{content.tags}}</div>

    <ng-template #elseBlock>
        <img [src]="'../assets/images/ironman.jpg'" alt="">
        </ng-template>

    <ng-template #elseBlockNameIsWhateverYouWant>
        <p class="not-found" hidden></p>
        <p hidden></p>
    </ng-template>
</div>   -->

<div class="border">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{content.title}}</mat-card-title>
      <mat-card-subtitle>{{content.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="content.imgURL" alt="{{content.title}}">
    <mat-card-content>
      {{content.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="editContent()">Edit</button>
      <button mat-button color="warn" (click)="deleteContent()">Delete</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ content.title }}</mat-card-title>
      <mat-card-subtitle>Author: {{ content.author }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ content.imageUrl }}" alt="{{ content.title }}">
    <mat-card-actions>
      <a mat-button [routerLink]="['/detail', content.id]">View Details</a>
    </mat-card-actions>
  </mat-card>  
</div>