<br>
<br>
<br>
<br>
<br>
<br>

<app-modify-content></app-modify-content>
<br>
<br>
<form #contentForm="ngForm" class="content-form">
    <label for="contentId">Enter content ID:</label>
    <mat-form-field type="number" id="contentId" name="contentId" required [(ngModel)]="contentId" matInput>
    <button type="button" (click)="getContent()" mat-button>Get Content</button>
  </form>
<app-messages></app-messages>

<div class="card shadow-card">
    <app-content-card [content]="content[2]" class="card shadow-card" ></app-content-card>
</div>


<div *ngFor="let content of (content | filter); index as i; first as isFirst; odd as odd; even as even;" >
    <app-content-card  *ngIf="content.type=='Superhero'" [content]="content" class="chess-player-{{i}} border" class="Superhero"></app-content-card> 
</div>

<div *ngFor="let content of (content | filter); index as i; first as isFirst; odd as odd; even as even;" >
    <app-content-card  *ngIf="content.type=='Action'" [content]="content" class="chess-player-{{i}} border" class="Magic"></app-content-card>
</div>


<div *ngFor="let content of (content | filter); index as i; first as isFirst; odd as odd; even as even;" >

    <app-content-card  *ngIf="content.type==''" [content]="content" class="chess-player-{{i}} border" [class.is-odd]="odd" [class.is-even]="even"></app-content-card>
</div>
